@import "variables";

header {
    display: flex;
    position: fixed;
    background: #4b3ff3;
    width: 100%;
    height: 70px;
    align-items: center;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 50px);
        margin: auto;

        .logo {
            a {
                width: 100px;
                img {
                    width: 100px;
                }
            }
        }
        .wrapper {
            display: flex;
            align-items: center;

            gap: $gap;
            ul {
                display: none;
                align-items: center;
                gap: $gap;

                li{
                    a{
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }

            .icons {
                display: flex;
                align-items: center;
                gap: $gap;

                .search{
                    display: flex;
                    gap: $gap;
                }
                a:last-child {
                    &.open-close {
                        i::before {
                            content: "\f00d";
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width:678px) {
    header {
        nav {
            .wrapper {
                ul {
                    display: flex;
                }
                .icons{
                    a:last-child{
                        display: none;
                    }
                }
            }
        }
    }
}
