@import "variables";

header {
    display: flex;
    position: fixed;
    background: $primary;
    width: 100%;
    height: 70px;
    align-items: center;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 50px);
        margin: auto;
        
        .logo {
            a {
                width: 100px;

                img {
                    width: 100px;
                }
            }
        }
        .wrapper {
            display: flex;
            align-items: center;
            gap: $gap;
            ul {
                display: none;
                align-items: center;
                gap: $gap;
                margin: 0;

                li{
                    a{
                        color: $white;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }

            .icons {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                a{
                   color: $white;
                }

                .input-group{
                    width: auto;
                    flex-wrap: nowrap !important;
                }
                .sm{
                    display: flex;

                }
                
                a:last-child {
                    &.open-close {
                        i::before {
                            content: "\f00d";
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width:678px) {
    header {
        nav {
            .wrapper {
                ul {
                    display: flex;
                }
                .icons{
                    .sm{
                        display: none;
                    }
                    a:last-child{
                        display: none;
                    }
                }
            }
        }
    }
}
