
@import "header";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    color: #b6b6b6;
}

li, ol{
    list-style: none !important;
}

img{
    width: 100%;
}


// search 

.form-control:focus {
    box-shadow: none;
  }
  
  .btn-search{
    border-top-right-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 4px !important;
    background: #f8f9fa !important;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }